* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppians";
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 1200px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
}

.Features ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.Features ul li {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.Features ul li a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease;

}

.Features ul li a:hover {
  color: green;
  font-weight: 600;

}
.Features ul li:hover {
    border-bottom: 1px solid #86d9ee;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 209px;
  height: 56px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* .signimg {
  width: 54px;
  height: 29px;
  background: #002b7f;
  box-shadow: 0px 7px 15px rgba(49, 49, 49, 0.48);
  border-radius: 500px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.signimg img {
  position: relative;
  width: 25px;
  height: 25px;
  left: 27px;
  border: 1px solid #ffffff;
  border-radius: 5003px;
} */

.buttons button {
  width: 110px;
  height: 50px;
  background: #1b8354;
  box-shadow: 0px 7px 15px rgba(49, 49, 49, 0.48);
  border-radius: 10px  ;
  border: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.buttons button:hover {
  background: rgb(3, 90, 3);
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: #002b7f;
  box-shadow: 0px 7px 15px rgba(49, 49, 49, 0.48);
  border-radius: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  top: 2px;
  right: 2px; 

   border-radius: 50%;
  transition: 0.4s;
  background-size: cover;
  background-position: center;
background-image: url("assests/flag.png"); 
}

input:not(:checked) + .slider::before {
  left: 2px;
   right: auto;
  background-image: url("assests/flag.png");
   background-size: 25px;
   
}

input:not(:checked) + .slider {
  background: red;
}


.main {
  width: 100%;
  height: 130vh;
   background-image: url("assests/main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 90%;
  text-align: center;
}
.main_content h1 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 42px;
  line-height: 1.3;
  color: #000000;
}
.main_content p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 42px;
  line-height: 1.6;
  color: #000000;
  max-width: 800px;
}

.main_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 429px;
  height: 67px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main_buttons .button1 {
  width: 220px;
  height: 58px;
  background: #1b8354;
  box-shadow: 0px 7px 15px rgba(49, 49, 49, 0.48);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.main_buttons .button2 {
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 67px;
  border: 3px solid #1b8354;
  border-radius: 15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #1b8354;
  font: bold 14px/19px Poppins;
  font-size: 18px;
}
.main_buttons .button1:hover {
  background: #0f5e3a;
  color: #ffffff;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  flex-direction: column;
}

.content1 {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.content1 h1 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 36px;
  line-height: 1.3;
  color: #000000;
  max-width: 500px;
  padding-left: 50px;
}
.content1 p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
  max-width: 620px;
}

.content2 {
  max-width: 1250px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 60px;
  align-items: stretch;
}

.ideas {
  width: 48%;
  background: #c8e1d6;
  border-radius: 40px;
  padding: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 59vh;
}

.ideas img {
  width: 110%;
  height: 198px;
  object-fit: contain;
  margin-bottom: 12px;
  padding-right: 40px;
}


.ideas h1 {
  
  font-family: "Poppins";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  margin: 8px 0;
  color: #000000;
  width: 100%;
}


.ideas p {
  width: 90%;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #000000;
}
.ideas:hover {
  background-color: #57dba4;
  cursor: pointer;

  transform: translateY(5px);
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 5%;
  top: 0px;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero_heading {
  flex: 0 0 300px;
  margin-left: 40px;
  padding-top: 40px;
   width: 284px;
height: 252px;
opacity: 1;
}

.hero_heading h1 {
  font-size: 37px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-top: 90px;
  font-family: "Poppins";
 

}

.acc_details {
  flex: 1;   
 
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;


}

.step-card {
  background-color: #c8e2d1;
  border-radius: 8px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.2s;
  width: 100%;
}
.step-card:hover {
  background-color: #57dba4;
  transform: translateY(-5px);
  cursor: pointer;
}

.number {
  width: 39px;
  height: 39px;
  background-color: #1b8354;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 21px;
  flex-shrink: 0;
}
.step-card:hover .number {
  background-color: white;
  color: #1b8354;
  font-weight: 800;
  font-size: 20px;
}

.content h3 {
    font-family: "Poppins";
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  font-style: bold;
}

.content p {
     font-family: "Poppins";
  margin: 8px 0 0 0;
  font-size: 19px;
  color: #333;
  font-weight: 400;
}

.hero3 {
  background: linear-gradient(to right, #136a43, #1b8354);
  padding: 80px 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-image: url("assests/Rectangle\ 913.png");
    background-size: cover;
    background-position: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container h2 {
  font-size: 36px;
  font-weight: 700;
  max-width: 500px;
    font-family: "Poppins";

}

.btns {
  display: flex;
  gap: 20px;

}

.btn_login {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 40px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn_login:hover {
  background: white;
  color: #1b8354;
  font-weight: 700;
}


.btn_create {
  background: white;
  border: none;
  color: #1b8354;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;


}
.btn_create:hover {
  background: #136a43;
  color: white;
  border: white 1px solid;
}


footer {
  background-color: #ffffff;
  padding: 60px 10% 20px 10%;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.footer_main {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  gap: 150px;
}


.footer_col h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000;
  
}

.footer_col ul {
  list-style: disc !important;
  padding-left: 20px;

}

.footer_col ul li {
  margin-bottom: 27px;
}

.footer_col ul li a {
  text-decoration: none;
  color: #555;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s;
}


.footer_col ul li a:hover {
  color: #1b8354;
}

.social_icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social_icons .icon {
  width: 32px;
  height: 32px;
  background: #1b8354;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}


.footer_col ul {
  font-size: 13px;
  margin-bottom: 8px;
  color: #444;
}

.footer_bottom {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-bottom: 30px;
}

.reach_tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer_bottom p {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .cta-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-main {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .hero2 {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }
  .hero_heading {
    flex: none;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .Features {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Features ul {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  nav {
    padding: 0 20px;
  }

  .main {
    height: auto;
    padding-bottom: 120px;
  }

  .main_content {
    position: static;
    transform: none;
    margin: 120px auto 0;
  }

  .main_content h1 {
    font-size: 32px;
  }

  .main_content p {
    font-size: 20px;
  }

  .main_buttons {
    flex-direction: row;
    width: auto;
  }

    .main_buttons .button1,.button2 {
     width: 180px;
  height: 58px;
  font-size: 16px;
    }

  .content1 {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .content1 h1 {
    padding-left: 0;
  }

  .content2 {
    flex-direction: column;
    align-items: center;
  }

  .ideas {
    width: 80%;
    height: auto;
  }

  .hero2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .hero_heading {
    margin-left: 0;
  }

  .hero_heading h1 {
    margin-top: 0;
    font-size: 32px;
  }

  .step-card {
    width: 100%;
  }

  .footer_main {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }

  .footer_col ul {
    padding-left: 0;
    list-style-position: inside;
  }
}

@media (max-width: 586px) {
    .Features ul {
        display: none;
    }
  .main_content h1 {
    font-size: 26px;
  }

  .main_content p {
    font-size: 18px;
  }

  .ideas {
    width: 100%;
  }

  .number {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
   .main_buttons .button1,.button2 {
     width: 150px;
  height: 58px;
  font-size: 13px;
    }

  .btns {
    flex-direction: column;
    width: 100%;
  }

  .btn_login,
  .btn_create {
    width: 100%;
  }
}

@media(max-width: 440px) {
  .step-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .number {
    margin-bottom: 10px;
  }

  .navbar nav {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
    justify-content: space-between;

  }

  .Features ul {
   display: none;
  }

  .buttons {
   display: none;
  }

  .logo img {
    width: 150px;
  }

  .main_buttons .button1,.button2 {
     width: 120px;
    
}
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


